<% const formFields = include('_form_fields') %>

<%- include('../partials/section', {
    sectionTitle: 'Edit Book',
    sectionContent: `
        <div class="section_layout">
            <form class="form" action="/books/${book.id}?_method=PUT" method="POST">
                ${formFields}
                <a class="button" href="/books/${book.id}">Cancel</a>
                <button class="button" type="submit">Update</button>
            </form>        
        </div>
    `})%>