<% const formFields = include('_form_fields') %>

<%- include('../partials/section', {
    sectionTitle: 'New Book',
    sectionContent: `
        <div class="section_layout">
            <form class="form" action="/books" method="POST">
                ${formFields}
                <a class="button" href="/books">Cancel</a>
                <button class="button" type="submit">Create</button>
            </form>        
        </div>
    `})%>