<% const deleteForm = include('../partials/deleteForm', {
    url: `/books/${book.id}`}) %> 

<% const table = `
    <table class="table">
        <tbody class="table_body">
            <tr class="table_row">
                <td class="table_cell">Author:</td>
                <td class="table_cell">${book.author.name}</td>
            </tr>
            <tr class="table_row">
                <td class="table_cell">Publish Date:</td>
                <td class="table_cell">${book.publishDate.toDateString()}</td>
            </tr>
            <tr class="table_row">
                <td class="table_cell">Page Count:</td>
                <td class="table_cell">${book.pageCount}</td>
            </tr>
            <tr class="table_row">
                <td class="table_cell">Description:</td>
                <td class="table_cell">${book.description}</td>
            </tr>
        </tbody>
    </table>
` %>

<%- include('../partials/section', {
    sectionTitle: `${book.title}`,
    sectionContent: `
        <div class="section_layout">
            <img src="${book.coverImagePath}"
                alt="${book.title} (Cover)"
                width="100px" height="150px">
            ${table}
        </div>
        <div class="section_layout">
            <a href="/books/${book.id}/edit">Edit</a>
            ${deleteForm}
            <a href="/authors/${book.author.id}">View Author</a>            
        </div>
    `})%>