<header class="header">
    <nav class="header_navigation">
        <a class="link" href="/">Mybrary</a>
        <ul class="navigation">
            <li class="navigation_item">
                <a class="link" href="/books">Books</a>
            </li>
            <li class="navigation_item">
                <a class="link" href="/authors">Authors</a>
            </li>
            <!-- <li class="navigation_item">
                <a href="/books/new">Add Book</a>
            </li>
            <li class="navigation_item">
                <a href="/authors/new">Add Author</a>
            </li> -->
        </ul>
    </nav>
</header>