<header class="header">
    <nav>
        <a class="link" href="/">Mybrary</a>
        <ul class="navigation">
            <li class="navigation_item"><a class="link" href="/authors">Authors</a></li>
            <li class="navigation_item"><a class="link" href="/authors/new">Add Author</a></li>
        </ul>
    </nav>
</header>