<section class="section">
    <header class="section_header">
        <h2 class="section_title"><%= sectionTitle %></h2>       
    </header>
    <div class="section_container">
        <%- sectionContent %>
    </div>
</section>