<% const list = `
    <ul class="list">
        ${books.map(book => {
            return `
                <li class="list_item">
                    <a href="/books/${book.id}">
                        <img src="${book.coverImagePath}"
                            alt="${book.title} (Cover)"
                            width="100px" height="150px">
                    </a>
                </li>
            `
        }).join('')}
    </ul>
` %>

<%- include('partials/section', {
    sectionTitle: 'Recently added',
    sectionContent: `
        <div class="section_layout">${list}</div>
    `})%> 