<% const formFields = include('_form_fields') %>

<%- include('../partials/section', {
    sectionTitle: 'Edit Author',
    sectionContent: `
        <div class="section_layout">
            <form class="form" action="/authors/${author.id}?_method=PUT" method="POST">
                ${formFields}
                <a class="button" href="/authors/${author.id}">Cancel</a>
                <button class="button" type="submit">Update</button>
            </form>        
        </div>
    `})%>