<h2>Search Authors</h2>
<form class="searchBar" action="/authors" method="get">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<ul class="searchResults">
    <% authors.forEach(author => { %>
        <li><%= author.name %></li>
    <% }) %>
</ul>