<section class="section">
    <header class="section_header">
        <h2 class="section_title">Search Authors</h2>       
    </header>
    <div class="section_content">
        <form class="form" action="/authors" method="GET">
            <div class="form_field">
                <label class="form_label">Name</label>
                <input class="form_input" type="text" name="name" value="<%= searchOptions.name %>">                
            </div>
            <button class="button" type="submit">Search</button>
        </form>
        <div class="searchResults">
            <ul class="searchResults_container">
                <% authors.forEach(author => { %>
                    <li class="searchResults_item"><%= author.name %></li>
                <% }) %>
            </ul>            
        </div>      
    </div>
</section>