<% const deleteForm = include('../partials/deleteForm', {
    url: `/authors/${author.id}`}) %>

<% let list = '' %>
<% if (booksByAuthor.length > 0) {
    list = `
        <div class="section_layout">
            <ul class="list">
                ${booksByAuthor.map(book => {
                    return `
                        <li class="searchResults_item">
                            <a href="/books/${book.id}">
                                <img src="${book.coverImagePath}"
                                    alt="${book.title} (Cover)"
                                    width="100px" height="150px">
                            </a>
                        </li>                    
                    `
                }).join('')}
            </ul>
        </div>
    `
} %>

<%- include('../partials/section', {
    sectionTitle: `${author.name}`,
    sectionContent: `
        <div class="section_layout">
            <a class="button" href="/authors/${author.id}/edit">Edit</a>
            ${deleteForm}
        </div>
        ${list}
    `})%>